select {
  /* styling */
  width: 90%;
  background-color: white;
  border: 2px solid #5252d8;
  border-radius: 4px;
  display: inline-block;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 10px;
  /* reset */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image: linear-gradient(45deg, #5252d8 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #5252d8 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: #5252d8;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

label {
  font-size: 16px;

  margin: 10px;
}

.button-size {
  margin: 5px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #5252d8;
}

.button-size-active {
  margin: 5px;
  border-radius: 10px;
  background: #5252d8;
  color: #fff;
  border: 2px solid #5252d8;
}

.button-color {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 0;
}

.button-color-active {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid #5252d8;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
}
