.pagination {
    margin: 30px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    border-radius: 50%;
    background-color: #5252d8;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: transparent;
}