.screen-size {
    height: 40px;
    width: 40px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 250px;
    overflow-x: hidden;
    transition: 0.5s;
    color: #5252d8;
}

@media screen and (max-width: 600px) {
    .screen-size {display: none;}
  }