.sidebar-filtre {
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(245, 245, 245);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidebar-filtre a {
  
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar-filtre a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 320px;
  /* Same as the width of the sidebar-filtre */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar-filtre {
    padding-top: 15px;
  }

  .sidebar-filtre a {
    font-size: 18px;
  }
}