.sidebar {
  height: 100%;
  width: 360px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(245, 245, 245);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar-right {
  height: 100%;
  width: 340px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0px;
  background-color: rgb(245, 245, 245);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar-right a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar-right a:hover {
  color: #f1f1f1;
}

.sidebar-right .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}