.sidebar-nav {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #9339a5;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar-nav-bottom {
  position: fixed;
  bottom: 0;
  padding: 16px;
}

.sidebar-nav a {
  text-decoration: none;
  font-size: 40px;
  color: #cdcbcb;
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
}

.sidebar-nav a:hover {
  color: #ffffff;
}


.sidebar-nav, .active {
  color: #ffffff;
}

.main {
  margin-right: 80px;
  /* Same as the width of the sidebar-nav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  text-align: center;
  overflow: hidden;
}

@media screen and (max-height: 450px) {
  .sidebar-nav {
    padding-top: 15px;
  }

  .sidebar-nav a {
    font-size: 18px;
  }
}